body{
    font-family: 'Poppins', sans-serif;
}
/* FONTS H1-H2 BEBAS NEAUVES H3 DOWN POPPINS*/
h1{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 120px;
}
h2{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}
h3{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
h4{
    font-size: 30px ;
    font-weight:500;
    font-family: 'Poppins', sans-serif;
}
h5{
    font-size: 30px;
    font-weight: 400px;
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 20px;
    font-weight: 300px;
    font-family: 'Poppins', sans-serif;
}
li{

}

/* HOMEPAGE-HEADER*/
.Navigation{
    display: flex;
    vertical-align: top;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
    background-color: #A0ACF2 ;
}
.logo{
    width: 23%;
    text-align: center;
    position: relative;
}
#primaryNav{
    width: auto;
    padding: 1%;
    margin-left: auto;
    flex-direction: row;
    display: flex;
    vertical-align: top;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
    float: right;
    color: white;
}
.topNav{
    width: 73%%;
    margin-left: auto;
    vertical-align: top;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: row;
    display: flex;
    font-size: 20px;
}
.heroImg{
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: right;
}
.heroContent{
    font-size: 30px;
    position: absolute;
    bottom: 40px;
    text-align: right;
    justify-content: space-evenly;
    color: white;
    padding: 20px;
    align-items: flex-start;
}
#Resume{
    background-color: #F59836;
    color: white;
    height: 50px;
    width: 80px;
    border-style: groove;
}
/* HOMEPAGE-FOOTER*/
.quickLinks{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    list-style: none; 
    text-align: center;
    align-items: center;
    float: left;
}
.socials{
    display: flex;
    flex-direction: row;
    list-style: none; 
    justify-content: flex-end;
    align-items: center;
    float: right;
}
.footer{
    background-color: #373738;
    height: 100px;
    color: white;
    justify-content: end;
}
li{
    padding: 15px;
    font-size: 16px;
    font-weight: 500px;
}
.copyRight{
    justify-content: center;
    background-color: black;
    color: white;
    height: 30px;
    text-align: center;
 
    position: relative;
}
/* HOMEPAGE-BODYCONTENT*/
.solid{
    border-top: 30px solid #F59836;
    opacity: 60%;
}
.flexContainer{
    display: flex;
    text-align: center;
    padding: 3px;
}
/* ABOUT ME SECTION*/
.aboutMe {
    display: flex;
    grid-area: ;
}
.aboutMe p{
    font: weight 300px;
    font-size: 20px;

}
/* MY WORK SECTION*/

.myWork{
    display: grid;
    grid-template-columns: 1fr;
}
workGrid{
}

#nfpwrd{
    margin: auto;
    padding: 20px;
    background-color: rgba(183, 176, 232, .30);
    margin-top: 30px;
    padding: 20px;
    align-items: flex-start;
    max-width:none;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
}

#houseMate{
    margin: auto;
    padding: 20px;
    background-color: rgba(252, 201, 78, .30);
    margin-top: 30px;
    padding: 20px;
    align-items: flex-start;
    max-width: none;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
}
#recomondo{
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 232, 31, .30);
    margin-top: 30px;
    padding: 20px;
    align-items: flex-start;
    max-width: none;
    position: relative;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
}
#seeMore{
    background-color: #F59836;
    color: white;
    height: 50px;
    width: 80px;
    border-style: groove;
}    

@media only screen and {max: width 600px;{
    . {
        width:  ;
    }
}

